<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="vue.js"></script>
    <style>
        .div{
            width: 200px;
            height: 200px;
            background-color: green;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <template v-if='display'>
            <ul>
                <li>蚌埠</li>
                <li>淮南</li>
                <li>马鞍山</li>
                <li>芜湖</li>
                <li>滁州</li>
            </ul>
        </template>

        <template v-if="loginType">
            用户名  <input type="text" placeholder="请输入用户名" />
        </template>
        <template v-else>
            邮箱 <input type="text" placeholder="请输入邮箱" />
        </template>
        <button v-on:click="changeLogin()">点击切换</button>

        <br />
        <br />
        <br />
        <button v-on:click="toggle()">点击隐藏</button>
        <div class="div" v-show="show"></div>
    </div>
    <script>
        const vmObj = new Vue({
            el: '#app',
            data: {
                display: true,
                loginType: true,
                show: true
            },
            methods: {
                changeLogin(){
                    this.loginType = !this.loginType;
                },
                toggle(){
                    this.show = !this.show;
                }
            }
        });
        /*
            v-if/v-show的区别:
            (1) 对template的支持, v-show不支持, v-if支持
            (2) 元素隐藏的区别, v-if不会渲染元素, v-show会渲染元素
            如何选择:
            (3) 从渲染的角度看, v-if比较v-show性能要好, 如果条件很少变化要用v-if
            (4) 从显示与隐藏的角度来看, v-show比较v-if性能好, 如果要频繁切换条件, 就要使用v-show
        */
    </script>
</body>
</html>